<h5 class="header content-title"><i class="fa fa-arrow-left" aria-hidden="true" ng-click="go('/relDepMgt')"></i>&nbsp;&nbsp;Administration</h5>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Capabilities Administration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Capabilities</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Cost Savings</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Applications</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Development costs</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group panelalign-select">
                            <label class="panelselect-header">SELECT RELEASE</label>
                            <select class="input-large form-control selectstyle">
						<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
						</select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/tape.png" class="panelcontent-image" ng-click="go('/capMgt')" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Application Administration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Applications</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total App Cost</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total App Savings</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total FTE</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group panelalign-select">
                            <label class="panelselect-header">SELECT RELEASE</label>
                            <select class="input-large form-control selectstyle">
						<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
						</select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/alpha.png" class="panelcontent-image" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Reference Table</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" ng-click="go('/referenceTableMgt')" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Process Administration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Processes</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Releases</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Applications</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group panelalign-select">
                            <label class="panelselect-header">SELECT RELEASE</label>
                            <select class="input-large form-control selectstyle">
						<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
						</select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/spring.png" class="panelcontent-image" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Requirements Administration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No. Applications</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total App Cost</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total App Savings</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Total FTEs</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group panelalign-select">
                            <label class="panelselect-header">SELECT RELEASE</label>
                            <select class="input-large form-control selectstyle">
						<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
						</select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/document.png" class="panelcontent-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Resource Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No. Resources</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">FTE Allocated</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">Available FTEs</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">FTE Costs</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group panelalign-select">
                            <label class="panelselect-header">SELECT RELEASE</label>
                            <select class="input-large form-control selectstyle">
						<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
						</select>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="./images/group.png" class="panelcontent-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>