<h5 class="header content-title">
	<i class="fa fa-arrow-left" aria-hidden="true" ng-click="go('/dependencyReporting')" ></i>&nbsp;&nbsp;Reporting
</h5>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Release Status</div>
			<div class="panel-body" style="height:80%;">
				<div class="row">
					<div class="col-sm-2">
						<div>
							<label class="panelselect-header" style="margin-top:10px;">SELECT RELEASE</label>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<select class="input-sm form-control selectstyle">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-3">&nbsp;</div>
					<div class="col-sm-4 text-right">
					<button class="btn btn-primary btn-sm">Run</button>									
					<button class="btn btn-primary btn-sm">Export</button>
					<button class="btn btn-primary btn-sm">Cancel</button>
					</div>
				</div>
				<table class="table table-striped" id="budgetReportTable">
					<thead>
						<tr>
							<th>Project</th>
							<th>Application Name</th>
							<th>Capability</th>
							<th>Release</th>
							<th>Conflict Type</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>PD595</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
							<td>Voice</td>
							<td>11/12/2010</td>
						</tr>
						<tr>
							<td>PD595</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
							<td>Voice</td>
							<td>11/12/2010</td>
						</tr>
						<tr>
							<td>PD595</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
							<td>Voice</td>
							<td>11/12/2010</td>
						</tr>
						<tr>
							<td>PD595</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
							<td>Voice</td>
							<td>11/12/2010</td>
						</tr>
						<tr>
							<td>PD595</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
							<td>Voice</td>
							<td>11/12/2010</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>