<h5 class="header content-title"><i class="fa fa-arrow-left" aria-hidden="true" ng-click="go('/administration')"></i>&nbsp;&nbsp;Reference Table Management</h5>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Service Table Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No. of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;" ng-click="go('/serviceMaintenance')" />
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Release Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Releases</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Capability Type Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Capability Types</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Owner Table Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Owners</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Business Owner Management</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">XXXXX</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">XXXXX</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">XXXXX</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panelcontent-title">No of Services</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panelcontent-title">&nbsp;</div>
                        <div class="panelcontent-body">&nbsp;</div>
                    </div>
                </div>

                <div class="row" style="visibility: hidden">
                    <div class="col-sm-12 text-center">
                        <img src="./images/plus.png" class="panelcontent-image" style="margin-bottom:10px;">
                    </div>
                </div>

            </div>
        </div>
    </div>



	</div>
</div>