
          <h5 class="header content-title">Release Dependency Management</h5>
		<div class="row">
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Dependency Reporting / Metrics</div>
  					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">Releases</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfReleases}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">In Backlog</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfBacklogs}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Projects</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfProjects}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Conflicts</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfConflits}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Capabilities</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfCapabilities}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Services</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfServices}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Applications</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyMetric.noOfApplications}}</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedReleaseDependencyManagementReleaseId" ng-change="getReleaseDependencyManagement()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/piechart.png" class="panelcontent-image" ng-click="go('/dependencyReporting')" />
							</div>
						</div>

  					</div>
				</div>
			</div>
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Dependency by Service</div>
  					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">Services</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.noOfServices}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Release #</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.noOfReleases}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Applications</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.noOfApplications}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Status</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.status}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Development Costs</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.developmentCosts}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Cost Savings</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyByService.costSavings}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedDependencyByServiceReleaseId" ng-change="getDependencyByService()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/settings.png" class="panelcontent-image" ng-click="go('/serviceTracker')" />
							</div>
						</div>

  					</div>
				</div>
       		</div>
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Dependency Relationship Management</div>
	  				<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">Capabilities</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyRelationshipManagement.noOfCapabilities}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Cost Savings</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyRelationshipManagement.costSavings}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Applications</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyRelationshipManagement.noOfApplications}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Development Costs</div>
							<div class="panelcontent-body">&nbsp;{{report.dependencyRelationshipManagement.developmentCosts}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedDependencyRelationshipReleaseId" ng-change="getDependencyRelationship()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/route.png" class="panelcontent-image" ng-click="go('/dependencyRelationshipBuilder')" />
							</div>
						</div>

	  				</div>
				</div>
       		</div>
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Resource Allocation</div>
  					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">FTEs</div>
							<div class="panelcontent-body">&nbsp;{{report.resourceAllocation.noOfFTEs}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Utilized FTEs</div>
							<div class="panelcontent-body">&nbsp;{{report.resourceAllocation.noOfUtilizedFTEs}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Cost of FTEs</div>
							<div class="panelcontent-body">&nbsp;{{report.resourceAllocation.costOfFTEs}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Budget Available</div>
							<div class="panelcontent-body">&nbsp;{{report.resourceAllocation.budgetAvailable}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>							
						</div>

						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedResourceAllocationReleaseId" ng-change="getResourceAllocation()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/group.png" class="panelcontent-image" ng-click="go('/relRoadmap')" />
							</div>
						</div>

  					</div>
				</div>
			</div>
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Delivery Roadmap</div>
  					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">Projects</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.noOfProjects}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Release #</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.release}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Applications</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.noOfApplications}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Status</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.status}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Development Costs</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.developmentCosts}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Cost Savings</div>
							<div class="panelcontent-body">&nbsp;{{report.deliveryRoadmap.costSavings}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedDeliveryRoadmapReleaseId" ng-change="getDeliveryRoadmap()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/sliders.png" class="panelcontent-image" ng-click="go('/relRoadmap')"/>
							</div>
						</div>						
  					</div>
				</div>
       		</div>
        	<div class="col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Administration</div>
	  				<div class="panel-body">
						<div class="row">
							<div class="col-sm-6">
							<div class="panelcontent-title">Capabilities</div>
							<div class="panelcontent-body">&nbsp;{{report.administration.noOfCapabilities}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Cost Savings</div>
							<div class="panelcontent-body">&nbsp;{{report.administration.costSavings}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Applications</div>
							<div class="panelcontent-body">&nbsp;{{report.administration.noOfApplications}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">Development Costs</div>
							<div class="panelcontent-body">&nbsp;{{report.administration.developmentCosts}}</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
							<div class="col-sm-6">
							<div class="panelcontent-title">&nbsp;</div>
							<div class="panelcontent-body">&nbsp;</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group panelalign-select">
					            <label class="panelselect-header">SELECT RELEASE</label>
								<select class="input-large form-control selectstyle" ng-model="selectedAdministrationReleaseId" ng-change="getAdminDetails()">
								<option ng-repeat="release in releases" value="{{release.releaseId}}">{{release.releaseDesc}}</option>
								</select>
								</div>
							</div>
							<div class="col-sm-4 text-center">
							<img src="./images/grid.png" class="panelcontent-image" ng-click="go('/administration')" />
							</div>
						</div>						
	  				</div>
				</div>
       		</div>
		</div>
