<h5 class="header content-title">
	<i class="fa fa-arrow-left" aria-hidden="true" ng-click="go('/referenceTableMgt')"></i>&nbsp;&nbsp;Service Maintenance Table
</h5>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Release Status</div>
			<div class="panel-body" style="height:80%;">
				<div class="row">
					<div class="col-sm-5">
						<button class="btn btn-primary btn-sm">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;								
						<button class="btn btn-primary btn-sm">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="btn btn-primary btn-sm">Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;
					</div>
					<div class="col-sm-2">
					</div>
					<div class="col-sm-3 text-center">
					<button class="btn btn-primary btn-sm">Import</button>&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-primary btn-sm">Export</button>
					</div>
					<div class="col-sm-2 text-right">									
					<button class="btn btn-primary btn-sm">Cancel</button>
					</div>
				</div>
				<table class="table table-striped" id="serviceMgtTable">
					<thead>
						<tr>
							<th>Select</th>
							<th>Service Name</th>
							<th>Service Description</th>
							<th>Business Unit</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="checkbox checkbox-primary" style="margin:0px;">
								<input id="cbgaps" class="styled" type="checkbox" checked="" />
								<label for="cbgaps"></label>
								</div>
							</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox checkbox-primary" style="margin:0px;">
								<input id="cbgaps" class="styled" type="checkbox" checked="" />
								<label for="cbgaps"></label>
								</div>
							</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox checkbox-primary" style="margin:0px;">
								<input id="cbgaps" class="styled" type="checkbox" checked="" />
								<label for="cbgaps"></label>
								</div>
							</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox checkbox-primary" style="margin:0px;">
								<input id="cbgaps" class="styled" type="checkbox" checked="" />
								<label for="cbgaps"></label>
								</div>
							</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox checkbox-primary" style="margin:0px;">
								<input id="cbgaps" class="styled" type="checkbox" checked="" />
								<label for="cbgaps"></label>
								</div>
							</td>
							<td>Infrastructure</td>
							<td>112</td>
							<td>XXXXXX</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>